.architect-info {
    position: relative;
    margin-top: 40px;
    width: 90%;
    margin-left: auto;

    @include respond-to("lg") {
        width: 100%;
    }

    figure {
        position: relative;

        img {
            width: 100%;
            @include transition;
        }

        &::before {
            @include content(.5);
            background-color: $drak-color;
            z-index: 111;
        }
    }

    &:hover {
        figure {
            img {
                transform: scale(1.1);
            }
        }
    }
}

.architect {
    @include respond-to("lg") {
        margin-bottom: 40px;
    }

    img.architect-img-1 {
        transform: translateX(-252px);

        @include respond-to("xxl") {
            width: 140%;
        }

        @include respond-to("lg") {
            width: 100%;
            transform: translatex(0px);
        }
    }

    .heading.two {
        width: 90%;
        margin: 0;
        padding-bottom: 40px;

        @include respond-to("xl") {
            width: 100%;
        }

        @include respond-to("lg") {
            padding-bottom: 0px;
        }
    }
}

.progress-style {
    width: 91%;
    margin-bottom: 20px;

    @include respond-to("xl") {
        width: 100%;
    }

    .progress {
        height: 15px;
        overflow: hidden;
        background-color: $theme-colour;
        border-radius: 0;
    }

    .item_bar.cell {
        background-color: #ffffff;
        width: 86%;
        border-radius: 0;
    }

    .progress_bar_item {
        position: relative;
        width: 90%;
        padding-top: 10px;

        @include respond-to("sm") {
            width: 100%;
        }

        .item_value.cell.shrink {
            position: absolute;
            right: 90px;
            top: 6px;
            font-weight: 700;

            @include respond-to("sm") {
                right: 40px;
            }
        }
    }

    .progress_bar.two {
        .progress_bar_item {
            width: 100%;
            margin-left: 15px;

            @include respond-to("sm") {
                margin-left: 0;
            }

            .item_value.cell.shrink {
                right: 30px;

                @include respond-to("xxl") {
                    right: 10px;
                }
            }
        }
    }

    .progress_bar {
        width: 100%;
        padding-bottom: 26px;
        display: flex;

        @include respond-to("xxl") {
            padding-bottom: 10px;
        }

        @include respond-to("sm") {
            flex-wrap: wrap;
        }

        span {
            color: $drak-color;
            font-weight: 700;
            padding-bottom: 10px;
            width: 160px;

            @include respond-to("sm") {
                padding-bottom: 0;
            }
        }
    }

}

.architect-text {
    display: flex;
    justify-content: space-between;
    width: 84%;
    margin-top: 50px;
    align-items: center;

    @include respond-to("xxl") {
        width: 80%;
        margin-top: 30px;
    }

    @include respond-to("mdd") {
        width: 100%;
        flex-wrap: wrap;
        gap: 10px;
    }

    p {
        line-height: 24px;
    }

    h3 {
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 18px;
    }

    img {
        @include respond-to("xxl") {
            width: 130px;
            height: auto !important;
        }
    }
}

.goal-mov {
    position: relative;
    width: 189px;
    height: 186px;

    @include respond-to("lg") {
        width: 160px;
        height: 160px;
    }

    @include respond-to("sm") {
        width: 120px;
        height: 120px;
    }

    >img {
        animation-name: rotateme;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        @include respond-to("xxl") {
            width: 150px;
            position: absolute;
            left: 9%;
            top: 11%;
        }

        @include respond-to("lg") {
            width: 160px;
            left: -2%;
            top: 0%;
        }

        @include respond-to("sm") {
            width: 110px;
            left: 5%;
            top: 6%;
        }
    }

    figure img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #a1a1a1;
        border-radius: 50%;
        padding: 26px;
        width: 120px;
        height: 120px;

        @include respond-to("xxl") {
            width: 100px;
            height: 100px;
        }

        @include respond-to("sm") {
            padding: 16px;
            width: 72px;
            height: auto;
        }
    }
}

@keyframes rotateme {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.cost-effective {
    text-align: end;
    position: relative;

    @include respond-to("lg") {
        margin-top: 30px;
    }

    >img {
        @include respond-to("xxl") {
            width: 100%;
        }

        @include respond-to("lg") {
            width: 90%;
        }
    }

    .goal-mov {
        position: absolute;
        bottom: 23%;
        border-radius: 91px;
        left: -4%;
        z-index: 32;

        @include respond-to("xxl") {
            bottom: 10%;
            left: -15%;
        }

        @include respond-to("xl") {
            bottom: -17%;
            left: -15%;
        }

        @include respond-to("lg") {
            bottom: 17%;
            left: 0%;
        }

        &::after {
            content: "";
            position: absolute;
            width: 230px;
            height: 230px;
            background-color: #fff;
            border-radius: 50%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;

            @include respond-to("xxl") {
                width: 180px;
                height: 180px;
            }

            @include respond-to("mdd") {
                width: 186px;
                height: 186px;
            }

            @include respond-to("sm") {
                width: 146px;
                height: 146px;
            }
        }
    }
}

.construction-img {
    .goal-mov {
        figure img {
            height: auto;
            width: 114px;

            @include respond-to("smm") {
                width: 70px;
            }
        }
    }

    figure {
        img {
            width: 100%;

            object-fit: cover;

            @include respond-to("smm") {
                height: 350px;
            }
        }
    }
}