.blog-one {
    @include respond-to("lg") {
        margin-bottom: 40px;
    }

    img {
        @include transition;
        width: 100%;

    }

    figure {
        margin-bottom: 16px;
    }

    span.spacer {
        padding: 0px 10px;
    }

    .blog-time {
        padding: 10px;
        background-color: $theme-colour;
        padding: 10px;
        width: 85%;
        margin-top: -20px;
        z-index: 11;
        position: relative;
        padding-left: 20px;

        @include respond-to("xl") {
            width: 95%;
        }

        a,
        span {
            color: $white-colour;
        }

        a {
            text-transform: uppercase;
            padding-right: 20px;
            font-weight: 700;

            @include respond-to("xxl") {
                padding-right: 10px;
                font-size: 14px;
            }

            i {
                padding-right: 10px;
                font-size: 20px;
                transform: translateY(4px);
                display: inline-block;

                @include respond-to("xxl") {
                    padding-right: 7px;
                    font-size: 16px;
                }
            }
        }
    }

    span {
        color: $medium-drak;
        font-weight: 700;
    }

    h3 {
        font-size: 40px;
        padding-bottom: 20px;
        padding-top: 10px;

        a {
            @include text-hover;
        }

        a:hover {
            background-position: 0;
        }

        a {
            color: $drak-color;
            font-size: 40px;
            font-weight: bold;
            line-height: 50px;
            border: 0;
            text-transform: capitalize;
            width: 90%;
            @include transition;

            @include respond-to("xxl") {
                font-size: 20px;
                line-height: 32px;
            }

            @include respond-to("xl") {
                font-size: 18px;
                line-height: 28px;
            }

            &:hover {
                color: $theme-colour;
                background-position: 0;
            }
        }
    }

    h4 {
        padding-bottom: 20px;
        padding-top: 10px;

        a {
            @include text-hover;
        }

        a:hover {
            background-position: 0;
        }

        a {
            color: $drak-color;
            font-size: 22px;
            font-weight: bold;
            line-height: 34px;
            border: 0;
            text-transform: capitalize;
            width: 90%;
            @include transition;

            @include respond-to("xxl") {
                font-size: 20px;
                line-height: 32px;
            }

            @include respond-to("xl") {
                font-size: 18px;
                line-height: 28px;
            }

            &:hover {
                color: $theme-colour;
                background-position: 0;
            }
        }
    }

    p {
        width: 85%;
        padding-bottom: 20px;
    }

    >a {
        color: $medium-drak;
        border-bottom: 1px solid $medium-drak;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;

        @include respond-to("xxl") {
            font-size: 16px;
        }

        i {
            opacity: 0;
            @include transition;
            margin-left: -19px;
        }

        &:hover {
            i {
                opacity: 1;
                margin-left: 10px;
            }
        }
    }
}

.heading.two.blogtwo p {
    width: 78%;

    @include respond-to("xxl") {
        width: 100%;
    }
}

.blog-one .blog-time a i.fa-regular.fa-clock {
    transform: translateY(1px);
}