.challenges-section {
    position: relative;
    background-size: cover;

    .heading {

        h2,
        span {
            color: #fff;
        }
    }

    &::before {
        @include content(.8);
        background-color: #000;
    }

    .introduction-text {
        margin-bottom: 35px;
        padding-bottom: 35px;
        border-bottom: 1px solid #555555;

        &::after {
            background-color: #6d452e;
        }

        i {
            color: $theme-colour;
        }

        a i {
            color: $white-colour;
            border: 1px solid $theme-colour;
            background-color: transparent;
            font-size: 16px;
            @include flexcenter;
            width: 50px;
            height: 50px;
            @include transition;
            position: relative;
            border-radius: 50%;
            margin-right: 20px;

            &:hover {
                background-color: $theme-colour;
            }
        }

        p {
            color: #c1c1c1;
            width: 90%;
        }

        h4 {
            font-weight: 700;
            color: #fff;
        }
    }

    .introduction-text.two {
        padding-bottom: 0;
        margin-bottom: 0;
        border: 0;
    }

    img.choose-img {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 85%);

        @include respond-to("lg") {

            top: 57%;
            right: 0;
            height: 43%;
            width: 100%;
        }

        @include respond-to("md") {
            display: none;
        }
    }
}

.challenges-man {
    position: relative;
    z-index: 111;

    @include respond-to("lg") {
        text-align: center;
    }

    img {
        @include respond-to("xxl") {
            width: 75%;
        }

        @include respond-to("xl") {
            width: 100%;
        }

        @include respond-to("lg") {
            width: 50%;
            margin-top: 40px;
        }

        @include respond-to("sm") {
            width: 80%;
        }

        @include respond-to("xs") {
            width: 90%;
        }
    }


    .count-style {
        position: absolute;
        padding-top: 10px;
        border: 0;
        background-color: $theme-colour;
        padding: 20px;
        width: 230px;
        height: 230px;
        border-radius: 50%;
        text-align: center;
        padding-top: 62px;
        bottom: 13%;
        right: 48px;

        @include respond-to("xxl") {

            padding-top: 68px;
        }

        @include respond-to("xl") {
            padding: 20px;
            width: 180px;
            height: 180px;
            padding-top: 42px;
            bottom: 13%;
            right: 28px;
        }

        @include respond-to("md") {
            right: 0;
        }

        &::after {
            width: 97%;
            height: 97%;
            border: 3px #fff dashed;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            content: "";
            transform: translate(-50%, -50%);
            animation-name: rotatemetwo;
            animation-duration: 25s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        p {
            font-weight: bold;
        }

        h2 {
            font-weight: 800;
            color: #fff;

            @include respond-to("xl") {
                font-size: 54px;
            }
        }
    }
}