.design-your {
    position: relative;
    background-repeat: no-repeat;
    background-size: 73%;
    overflow: hidden;

    @include respond-to("xxl") {
        .heading.two {
            padding-top: 60px;
        }
    }

    @include respond-to("lg") {
        .heading.two {
            padding-top: 00px;
        }
    }

    @include respond-to("xxl") {
        padding-top: 80px;
        background-size: cover;
    }

    @include respond-to("lg") {
        padding-top: 80px;
    }

    @include respond-to("md") {
        padding-top: 60px;
    }

    &::after {
        @include content(1);
        background-color: $theme-colour;
        width: 49%;
        right: 0;
        left: auto;
        clip-path: polygon(8% 0, 100% 0, 100% 50%, 100% 100%, 15% 100%, 0% 50%);

        @include respond-to("xl") {
            width: 43%;
        }

        @include respond-to("lg") {
            display: none;
        }
    }

    .heading {
        width: 70%;
        margin: 0;

        @include respond-to("xl") {
            width: 100%;
        }

        h2 {
            color: $white-colour;
        }

        span {
            color: $white-colour;
        }
    }
}

.count-style {
    position: relative;
    padding-top: 10px;
    border: 1px solid #a5a5a5;
    background-color: #ffffff12;
    padding: 30px;
    @include transition;

    &:hover {
        i {
            animation: top-bottom 1.5s infinite;
        }
    }

    @include respond-to("xxl") {
        width: 28%;
        padding: 30px 20px;
    }

    @include respond-to("xl") {
        width: 33%;
    }

    @include respond-to("md") {
        width: 48%;
    }

    @include respond-to("xs") {
        width: 100%;
    }

    i {
        font-size: 50px;
        color: #d7d7d7;
        display: block;
    }

    h2 {
        font-size: 70px;
        color: $theme-colour;
        font-weight: bold;

        @include respond-to("xxl") {
            font-size: 64px;
            padding-top: 10px;
        }
    }

    sup {
        font-size: 40px;
    }

    p {
        color: $white-colour;
        padding-top: 10px;

        @include respond-to("xxl") {
            font-size: 13px;
        }
    }
}

.count-number {
    display: flex;
    gap: 13px;

    @include respond-to("md") {
        flex-wrap: wrap;
    }
}