.dream-home {
    position: relative;

    &::after {
        @include content(.5);
        background-color: $drak-color;
    }

    a {
        color: $white-colour;
        font-size: 26px;
        font-weight: 700;
        position: absolute;
        bottom: 30px;
        left: 30px;
        z-index: 11;
        width: max-content;
        @include transition;

        @include respond-to("xxl") {
            font-size: 22px;
        }

        &:hover {
            color: $theme-colour;
        }
    }

    &:hover {
        a {
            left: 50%;
            bottom: 44%;
            transform: translate(-50%, 30%);
        }
    }

    img {
        @include transition;
    }

    &:hover {
        img {
            filter: blur(1.5px);
        }
    }
}