  .featured-area {
      padding-top: 266px;
      padding-bottom: 140px;
      position: relative;
      overflow: hidden;
      background-position: top center;

      @include respond-to("xxl") {
          padding-top: 230px;
      }

      @include respond-to("xl") {
          padding-top: 130px;
          padding-bottom: 100px;
      }

      &::before {
          @include content(.7);
          background-color: #000;
      }

      &::after {
          @include content(.7);
          top: 22%;
          opacity: 0.7;
          left: 0;
          height: 100%;
          border: #ff792d solid 130px;
          opacity: 0;
          visibility: hidden;
          transition: all .5s ease;
          left: 70%;
          transform: rotate(337deg);
          height: 113%;
          width: 78%;

          @include respond-to("xxl") {
              top: 29%;
              transform: rotate(330deg);
              width: 78%;
          }

          @include respond-to("lg") {
              border: #ff792d solid 80px;
          }

          @include respond-to("md") {
              border: #ff792d solid 60px;
              width: 100%;
          }
      }

      .hero-three-text {
          position: relative;
          z-index: 11;
          width: 53%;

          @include respond-to("xl") {
              width: 55%;
          }

          @include respond-to("lg") {
              width: 100%;
          }

          h2 {
              font-size: 80px;
              color: $white-colour;
              line-height: 88px;
              font-weight: 800;
              opacity: 0;
              visibility: hidden;
              transition: all .5s ease;
              transform: translateY(-20px);

              @include respond-to("xxl") {
                  font-size: 64px;
                  line-height: 72px;
              }

              @include respond-to("mdd") {
                  font-size: 54px;
                  line-height: 60px;
              }

              @include respond-to("smm") {
                  font-size: 40px;
                  line-height: 44px;
              }
          }

          h5 {
              color: #fff;
              font-weight: 800;
              text-transform: uppercase;
              opacity: 0;
              visibility: hidden;
              transition: all .5s ease;
              transform: translateY(-20px);
              letter-spacing: 2px;

              @include respond-to("smm") {
                  letter-spacing: 1px;
                  font-size: 18px;
              }
          }

          p {
              color: #dfdfdf;
              padding-top: 10px;
              padding-bottom: 36px;
              opacity: 0;
              visibility: hidden;
              transition: all .5s ease;
              transform: translateX(-50px);
          }

          a {
              opacity: 0;
              visibility: hidden;
              transition: all .5s ease;
              transform: translateX(-60px);
          }
      }
  }

  .featured-area.swiper-slide.swiper-slide-active {
      h5 {
          opacity: 1;
          visibility: visible;
          transition-delay: 1s;
          transform: translateY(0);
      }

      h2 {
          opacity: 1;
          visibility: visible;
          transition-delay: 1.2s;
          transform: translateY(0);
      }

      p {
          opacity: 1;
          visibility: visible;
          transition-delay: 1.5s;
          transform: translateX(0);
      }

      a {
          opacity: 1;
          visibility: visible;
          transition-delay: 1.8s;
          transform: translateX(0);
      }

      &::after {
          opacity: 0.8;
          visibility: visible;
          transition-delay: 0.5s;
          left: 60%;
      }
  }

  .three-slider.swiper {
      overflow: visible !important;

      .swiper-pagination {
          text-align: left;
          bottom: 60px !important;
          left: 14%;

          @include respond-to("xxl") {
              left: 9%;
          }

          @include respond-to("lg") {
              bottom: 24px !important;
              left: 10px;
          }
      }
  }