.hero-one-slider.swiper {
    overflow: visible !important;

    .swiper-pagination {
        text-align: left;
        bottom: 60px !important;

        @include respond-to("lg") {
            bottom: 24px !important;
        }
    }
}

.hero-one-section {
    padding-top: 240px;
    position: relative;
    margin-bottom: 70px;

    @include respond-to("xxl") {
        padding-top: 185px;
    }

    @include respond-to("xl") {
        padding-top: 130px;
    }

    @include respond-to("lg") {
        padding-top: 120px;
        margin-bottom: 0;
    }

    &::before {
        @include content(.7);
        background-color: $drak-color;
    }

    .hero-one-text {
        position: relative;
        z-index: 11;
        padding-bottom: 170px;

        @include respond-to("xl") {
            padding-bottom: 130px;
        }

        @include respond-to("lg") {
            padding-bottom: 70px;
        }

        img {
            position: absolute;
            right: -21%;
            z-index: 11;
            bottom: -70px;
            clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
            transform: scale(0.9);
            clip-path: circle(0% at 50% 50%);
            transition: 0.5s sopacity 1s, transform 1s, clip-path 1s;

            @include respond-to("xxl") {
                width: 66%;
            }

            @include respond-to("lg") {
                position: relative;
                width: 100%;
                left: 0;
                bottom: 0;
            }
        }

        h5 {
            font-size: 35px;
            color: $white-colour;
            opacity: 0;
            visibility: hidden;
            transition: all .5s ease;
            transform: translateY(-20px);

            @include respond-to("xxl") {
                font-size: 32px;
            }

            @include respond-to("xl") {
                font-size: 28px;
            }

            @include respond-to("smm") {
                font-size: 22px;
            }
        }

        p {
            font-size: 22px;
            width: 50%;
            line-height: 34px;

            @include respond-to("xxl") {
                font-size: 18px;
                line-height: 30px;
            }

            @include respond-to("xl") {
                font-size: 18px;
            }

            @include respond-to("lg") {
                width: 100%;
            }

            @include respond-to("mdd") {
                font-size: 16px;
                line-height: 28px;
            }
        }

        h2 {
            font-size: 108px;
            color: $theme-colour;
            padding-bottom: 10px;
            line-height: 110px;
            width: 55%;
            font-weight: 800;
            opacity: 0;
            visibility: hidden;
            transition: all .5s ease;
            transform: translateY(-20px);

            @include respond-to("xxl") {
                font-size: 80px;
                line-height: 75px;
            }

            @include respond-to("xl") {
                font-size: 65px;
                line-height: 65px;
            }

            @include respond-to("lg") {
                width: 100%;
            }

            @include respond-to("md") {
                font-size: 58px;
                line-height: 55px;
            }

            @include respond-to("mdd") {
                font-size: 44px;
                line-height: 50px;
            }
        }

        .btnn {
            opacity: 0;
            visibility: hidden;
            transition: all .5s ease;
            transform: translateY(-20px);
        }

        p {
            color: #bcbcbc;
            padding-bottom: 40px;
            opacity: 0;
            visibility: hidden;
            transition: all .5s ease;
            transform: translateX(-50px);

            @include respond-to("xxl") {

                padding-top: 10px;
                width: 45%;
            }

            @include respond-to("lg") {
                width: 100%;
            }
        }
    }
}

.hero-one-text.swiper-slide-active img {
    transform: scale(1);
    clip-path: circle(100% at 50% 50%);
}

.hero-one-text.swiper-slide.swiper-slide-active {
    h5 {
        opacity: 1;
        visibility: visible;
        transition-delay: .5s;
        transform: translateY(0);
    }

    h2 {
        opacity: 1;
        visibility: visible;
        transition-delay: .8s;
        transform: translateY(0);
    }

    p {
        opacity: 1;
        visibility: visible;
        transition-delay: 1.3s;
        transform: translateX(0);
    }

    .btnn {
        opacity: 1;
        visibility: visible;
        transition-delay: 1.7s;
        transform: translateY(0);
    }
}