.section-innovative {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
        @include content(.75);
        background-color: #f5f5f5;
    }

    .innovative {
        position: relative;

        img {
            width: 100%;
        }
    }
}

.client-company {
    position: absolute;
    bottom: 20px;
    z-index: 11;
    background-color: rgb(0 0 0 / 80%);
    width: 70%;
    padding: 40px;
    padding-bottom: 30px;
    left: 20px;
    @include transition;
    height: 130px;
    overflow: hidden;

    @include respond-to("xxl") {
        padding: 30px;
        height: 115px;
    }

    @include respond-to("xl") {
        width: 85%;
    }

    @include respond-to("mdd") {
        position: relative;
        width: 100%;
        padding: 30px;
        opacity: 1;
    }

    p {
        padding-bottom: 20px;
    }

    li {
        color: #fff;
        display: flex;
        position: relative;
        font-weight: bold;
        padding-bottom: 4px;
    }

    span {
        color: #fff;
        position: absolute;
        left: 20%;
        font-weight: 400;

        @include respond-to("md") {
            left: 20%;
        }

        @include respond-to("mdd") {
            left: 26%;
        }
    }

    a {
        position: absolute;
        right: 40px;
        bottom: 40px;
        @include transition;

        @include respond-to("xxl") {
            right: 30px;
            bottom: 30px
        }

        i {
            @include transition;
            @include flexcenter;
            width: 50px;
            height: 50px;
            margin-top: 10px;
            background-color: transparent;
            border: 1px solid #fff;
            border-radius: 50%;
            font-size: 16px;
            color: #fff;

            @include respond-to("xxl") {
                width: 46px;
                height: 46px;
            }
        }
    }

    h4 {
        font-size: 16px;
        color: #d0d0d0;
        text-transform: uppercase;
        padding-bottom: 6px;

        @include respond-to("xxl") {
            font-size: 14px;
        }
    }

    h3 {
        font-size: 30px;
        color: #fff;
        font-weight: bold;
        padding-bottom: 16px;

        @include respond-to("xxl") {
            font-size: 26px;
        }
    }

    ul {
        opacity: 0;
        @include transition;
    }
}

.project-cost {
    padding-top: 13px;
    opacity: 1;
}

.project-cost {
    padding-top: 16px;
    opacity: 0;
    @include transition;

    h6 {
        font-size: 44px;
        font-weight: bold;
        color: #ff792d;
        padding-top: 2px;

        @include respond-to("xxl") {
            font-size: 38px;
        }
    }

    span {
        left: 0;
        position: relative;
        font-weight: bold;
    }

}

.innovative {
    @include transition;

    &:hover {
        a {
            position: absolute;
            right: 40px;
            bottom: 40px;

            i {
                background-color: $theme-colour;
                border: 1px solid $theme-colour;
            }
        }

        .client-company {
            height: 70%;

            @include respond-to("xxl") {
                height: 71%;
            }

            @include respond-to("xl") {
                height: 88%;
            }

            @include respond-to("lg") {
                height: 58%;
            }

            @include respond-to("md") {
                height: 80%;
            }
        }

        .project-cost {
            opacity: 1;
        }

        ul {
            opacity: 1;
        }
    }
}


.innovative {
    @include respond-to("mdd") {
        .client-company {
            height: 100%;
            left: 0;
            bottom: 0;
            background-color: #000;
            width: 100%;
        }

        ul,
        .project-cost {
            opacity: 1;
        }
    }
}

.innovative-slider {
    .swiper-pagination {
        position: relative;
        margin-top: 40px;

        .swiper-pagination-bullet {
            background-color: $drak-color;
        }

        .swiper-pagination-bullet.swiper-pagination-bullet-active {
            background-color: $theme-colour;
        }
    }
}