.produsts-one-style {
    border: 1px solid #c9c9c9;
    padding: 15px;

    .produst-one-img {
        text-align: center;
        background-color: #f5f5f5;
        padding: 20px 16px;
        margin-bottom: 20px;

        img {
            @include transition;

            @include respond-to("xxl") {
                width: 100%;
            }
        }
    }

    .product-text {
        padding-left: 10px;
        position: relative;

        a {
            font-size: 22px;
            font-weight: bold;
            @include transition;

            @include respond-to("xxl") {
                font-size: 19px;
            }

            &:hover {
                color: $theme-colour;
            }
        }

        ul.star {
            padding: 0;
        }

        span {
            font-size: 28px;
            font-weight: bold;
            font-family: 'Epilogue';
            display: block;
            padding-top: 18px;

            @include respond-to("xxl") {
                font-size: 24px;
            }

            del {
                font-size: 18px;
                color: #444;
                font-weight: 500;

                @include respond-to("xxl") {
                    font-size: 16px;
                }
            }
        }

        a.heart {
            background-color: #444;
            color: $white-colour;
            border: 1px solid #444;
            opacity: 0;

        }
    }

    .product-cart {
        position: absolute;
        right: 0;
        bottom: 0;

        a {
            border: 1px solid $theme-colour;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 4px;
            @include transition;

            @include respond-to("xxl") {
                width: 40px;
                height: 40px;
                font-size: 16px;
            }

            @include respond-to("xl") {
                width: 36px;
                height: 36px;
                font-size: 14px;
            }

            &:hover {
                background-color: $theme-colour;
                color: $white-colour;
            }
        }
    }

    &:hover {
        img {
            transform: scale(0.95);
        }

        .product-text {
            a.heart {
                opacity: 1;
            }

            .shopping-cart {
                background-color: $theme-colour;
                color: #fff;
            }
        }
    }
}

.produsts-one-slider,
.blog-slider {
    padding-bottom: 70px;

    .swiper-pagination .swiper-pagination-bullet {
        background-color: #444;
    }

    .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: $theme-colour;
    }
}