.project-mind-section {
    padding-top: 40px;
    position: relative;
    overflow: hidden;
    background-size: cover;

    &::after {
        @include content(.6);
        background-color: #000;
    }

    @include respond-to("xl") {
        padding-top: 80px;
    }

    @include respond-to("lg") {
        padding-top: 60px;
    }

    .project-mind {
        position: relative;
        z-index: 11;

        h2 {
            font-weight: 800;
            padding-top: 80px;
            position: relative;
            z-index: 11;
            padding-bottom: 20px;
            font-size: 58px;
            color: #fff;

            @include respond-to("xxl") {

                font-size: 50px;
            }

            @include respond-to("lg") {
                font-size: 50px;
                width: 100%;
                padding-top: 0;
            }

            @include respond-to("md") {
                font-size: 38px;
            }

            @include respond-to("sm") {
                font-size: 30px;
            }
        }

        p {
            color: #bdbdbd;
            padding-bottom: 40px;

            @include respond-to("sm") {
                font-size: 14px;
            }
        }
    }

    .project-mind-img {
        position: relative;

        img {
            z-index: 11;
            position: relative;
            width: 100%;

            @include respond-to("lg") {
                margin-top: 40px;
            }
        }
    }
}