.services-one {
    padding: 30px;
    padding-top: 40px;
    position: relative;
    border: 1px solid #7b7b7b;
    background-size: cover;
    overflow: hidden;

    &::before {
        @include box-hover;
        background-color: $white-colour;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%) scale(2);
        @include transition;

        @include respond-to("lg") {
            width: 530px;
            height: 530px;
        }
    }

    &:hover {
        border-color: transparent;

        &:before {
            transform: translate(-50%, -50%) scale(0);
        }

        >i {
            animation: top-bottom 2s infinite;
        }
    }

    &::after {
        content: "";
        position: absolute;
        width: 250px;
        height: 133px;
        background-color: #ebebeb;
        right: -1px;
        bottom: 0;
        @include transition;
        clip-path: polygon(35% 44%, 100% 0, 100% 0, 100% 42%, 100% 60%, 40% 100%, 0 70%, 0% 100%, 0% 68%, 0 20%);

        @include respond-to("xxl") {
            width: 230px;
            height: 123px;
        }

        @include respond-to("xl") {
            width: 200px;
            height: 113px;
        }
    }

    &:hover {
        &::after {
            background-color: $theme-colour;
            right: -40px;
        }

        p {
            color: $light-colour;
            @include transition;
        }

        a {
            color: $white-colour;
        }
    }

    p {
        z-index: 11;
        position: relative;
        padding-bottom: 30px;
    }

    a {
        color: $drak-color;
        border: 1px solid #c7c7c7;
        font-size: 16px;
        @include flexcenter;
        width: 50px;
        height: 50px;
        @include transition;
        position: relative;
        border-radius: 50%;

        &:hover {
            background-color: $theme-colour;
            color: $white-colour;
            border-color: $theme-colour;
        }
    }

    &:hover {
        a {
            opacity: 1;
            margin-bottom: 0;
        }
    }

    >i {
        font-size: 90px;
        color: $theme-colour;
        position: relative;
        z-index: 111;
        @include transition;
        display: block;

        @include respond-to("xxl") {
            font-size: 60px;
        }
    }

    h4 {
        font-size: 30px;
        color: $drak-color;
        padding-bottom: 16px;
        font-weight: bold;
        position: relative;
        z-index: 11;
        @include transition;

        @include respond-to("xxl") {
            font-size: 28px;
        }

        @include respond-to("xl") {
            font-size: 26px;
        }

        @include respond-to("md") {
            font-size: 24px;
        }

        @include respond-to("xs") {
            font-size: 22px;
        }
    }

    &:hover {
        h4 {
            color: $white-colour;
        }
    }
}

@keyframes top-bottom {

    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    60% {
        -webkit-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
        transform: translateY(-4px);
    }
}