.team-style-one {
    border: 1px solid #7b7b7b;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    padding-bottom: 30px;
    @include transition;

    @include respond-to("lg") {
        margin-bottom: 40px;
    }

    figure {
        position: relative;
        overflow: inherit;

        img {
            @include transition;
            transform: translateY(-30px);
            margin-bottom: -30px;
        }
    }

    >a {
        font-size: 30px;
        font-weight: 700;
        @include text-hover;

        &:hover {
            background-position: 0;
        }

        @include respond-to("xxl") {
            font-size: 22px;
        }
    }

    p {
        color: $theme-colour;

        @include respond-to("xxl") {
            font-size: 14px;
        }
    }

    .team-style-img {
        position: relative;
        text-align: center;

        img {
            width: 100%;
        }

        a {
            background-color: $theme-colour;
            padding: 10px 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            color: #fff;
            font-size: 20px;
            font-weight: bold;
            margin-top: -35px;
            z-index: 11;
            position: relative;
            transform: translateY(-16px) rotateX(90deg);
            @include transition;

            @include respond-to("xxl") {
                padding: 10px 20px;
                font-size: 18px;
            }

            @include respond-to("xl") {
                padding: 10px 20px;
                font-size: 16px;
            }

            i {
                font-size: 28px;
                margin-bottom: -10px;
            }
        }
    }

    @at-root {
        ul.icon-share {
            display: flex;
            margin-top: 16px;

            a {
                i {
                    width: 40px;
                    height: 40px;
                    border: 1px solid #bebebe;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    font-size: 16px;
                    margin-right: 10px;
                    @include transition;

                    &:hover {
                        background-color: $theme-colour;
                        border-color: $theme-colour;
                        color: #fff;
                    }
                }
            }
        }
    }

    &:hover {
        .team-style-img {
            a {
                transform: translateY(-16px) rotateX(0deg);
            }
        }

        box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.15);
    }
}

.team-style-two {
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    position: relative;

    @include respond-to("sm") {
        flex-wrap: wrap;
        gap: 20px;
        padding-bottom: 30px;
    }

    figure {
        position: relative;

        img {
            @include respond-to("xxl") {
                width: 100%;
            }

            @include respond-to("xl") {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 70%;
        background-color: #f5f5f5;
        border: 1px solid #f5f5f5;
        top: 0;
        @include transition;
        left: 0;

        @include respond-to("xxl") {
            height: 77%;
        }

        @include respond-to("sm") {
            height: 100%;
        }
    }

    &:hover {
        &::before {
            background-color: #fff;
            border: 1px solid #c9c9c9;
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
        }
    }

    >div {
        margin-left: 32px;
        padding-top: 24px;
        position: relative;
        z-index: 1;

        @include respond-to("xxl") {
            padding-top: 10px;
        }

        @include respond-to("sm") {
            margin-left: 0px;
        }
    }

    h3 {
        font-weight: bold;
        font-size: 30px;
        padding-bottom: 10px;

        @include respond-to("xxl") {
            font-size: 26px;
        }
    }

    p {
        width: 90%;
        line-height: 26px;
        padding-bottom: 20px;
    }

    h6 {
        font-weight: bold;
        font-size: 20px;
        color: #444;
        padding-bottom: 56px;

        @include respond-to("xxl") {
            padding-bottom: 36px;
            font-size: 18px;
        }

        @include respond-to("sm") {
            padding-bottom: 10px;
            font-size: 16px;
        }

        a {
            padding-left: 10px;
            @include text-hover;
            background-image: linear-gradient(to right, #ff792d, #ff792d 50%, #444 50%);

            &:hover {
                background-position: 0;
            }
        }
    }
}