.visit-sectors {
    border: 1px solid #c8c8c8;
    padding: 40px;
    position: relative;
    margin-top: 20px;

    &:hover {
        >i {
            animation: top-bottom 2s infinite;
        }
    }

    @include respond-to("xxl") {
        padding: 26px;
    }

    &::after {
        @include content(1);
        background-image: url(../img/footer.jpg);
        height: 40%;
        opacity: 0;
        @include transition;
    }

    p {
        padding-bottom: 20px;
        z-index: 11;
        position: relative;

        @include respond-to("md") {
            padding-top: 24px;
        }

        @include respond-to("smm") {
            padding-top: 10px;
        }
    }

    >i {
        display: block;
        font-size: 60px;
        position: absolute;
        z-index: 11;
        @include transition;
        background-color: $theme-colour;
        width: 110px;
        height: 120px;
        right: 20px;
        top: -20px;
        color: #ffff;
        @include flexcenter;

        @include respond-to("xl") {
            font-size: 46px;
            width: 90px;
            height: 100px;
        }
    }

    a {
        @include transition;
        text-transform: uppercase;
        padding-top: 20px;
        display: inline-block;
        position: relative;
        z-index: 11;
        border-bottom: 1px solid $medium-drak;
        font-weight: 700;

        i {
            opacity: 0;
            padding-left: 0;
            transition: 0.5s ease-in-out;
            margin-left: -11px;
        }

        &:hover {
            i {
                opacity: 1;
                margin-left: 10px;
            }
        }
    }

    h4 {
        @include transition;
        position: relative;
        z-index: 11;
        font-size: 30px;
        font-weight: bold;
        padding-bottom: 14px;
        width: 70%;
        line-height: 32px;
        padding-top: 10px;

        @include respond-to("xl") {
            font-size: 24px;
            width: 60%;
            line-height: 32px;
        }
    }

    ul {
        position: relative;
        z-index: 11;

        li {
            @include transition;
            position: relative;
            padding-left: 22px;
            padding-bottom: 7px;

            &:before {
                @include transition;
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                background-color: #e3e3e3;
                top: 4px;
                left: 0;
            }
        }
    }
}

.visit-sectors.two {
    &::after {
        height: 100%;
        opacity: 1;
    }

    h4 {
        color: #fff;
    }

    a,
    p,
    li {
        color: #d3d3d3;
    }

    li {
        &:before {
            background-color: $theme-colour;
        }
    }
}