.accordion {
    width: 100%;

    .content {
        p {
            font-size: 16px;
            font-weight: 400;
            color: $medium-drak;
        }

        margin-bottom: 20px;
        padding: 12px 0px;
        padding-top: 0px;
        border: 0;
    }

    .title {
        text-align: start;
        padding: 24px;
        padding-right: 0;
        color: $drak-color;
        font-size: 20px;
        padding-left: 0;
        font-weight: 700;
        border-bottom: 1px solid #d1d1d1;
        border-radius: 0 !important;
    }

    .accordion-item:first-of-type {
        border-radius: 0;
    }

    .accordion-item.active {
        .heading {
            color: $drak-color;
        }

        .icon {
            &:after {
                width: 0;
            }

            &:before {
                background: $theme-colour;
            }
        }

        .title {
            background-color: transparent;
            border: 0;
            padding-bottom: 14px;
        }

        background-color: transparent;
        border: 0;
        border-bottom: 3px solid $theme-colour;
        border-radius: 0;
    }

    .accordion-item {
        border: 0;

        .heading {
            width: 100%;
            display: block;
            text-transform: capitalize;
            text-decoration: none;
            color: $drak-color;
            font-weight: 700;
            font-size: 20px;
            position: relative;
            transition: 0.3s ease-in-out;
            padding-bottom: 0px;
        }

        .icon {
            display: block;
            position: absolute;
            top: 47%;
            width: 1.4rem;
            height: 1.4rem;
            transform: translateY(-50%);
            right: 1px;
            background-color: transparent;

            &:before {
                content: "";
                width: 20px;
                height: 1px;
                background: $drak-color;
                position: absolute;
                left: 50%;
                top: 50%;
                transition: 0.3s ease-in-out;
                transform: translate(-50%, -50%);
            }

            &:after {
                content: "";
                width: 20px;
                height: 1px;
                background: $drak-color;
                position: absolute;
                left: 50%;
                top: 50%;
                transition: 0.3s ease-in-out;
                transform: translate(-50%, -50%);
                transform: translate(-50%, -50%) rotate(90deg);
                z-index: -1;
            }
        }

        .content {
            display: none;
        }

        &:first-of-type {
            border-top: 1px solid #d1d1d1;
        }
    }

    .accordion-img {
        figure.accordion-img-two {
            background-color: $drak-color;
            margin-top: -156px;
            margin-left: 130px;
        }

        position: relative;

        img.dots {
            top: auto;
            z-index: -0;
            right: -5%;
            bottom: 0;
        }
    }

}

.accordion-img {
    width: 89%;

    @include respond-to("xxl") {
        width: 90%;
    }

    @include respond-to("lg") {
        width: 100%;
        margin-bottom: 40px;
    }

    figure.accordion-img-1 {
        margin: 39px;
        margin-left: 0;
        margin-top: 0;

        @include respond-to("sm") {
            margin: 16px;
            margin-left: 0;
            margin-top: 0;
        }
    }

    img {
        @include transition;

        @include respond-to("sm") {
            width: 100%;
        }
    }
}

.faq-section {
    .heading.two {
        padding-top: 70px;

        @include respond-to("lg") {
            padding-top: 40px;
        }
    }
}

.faq-section .accordion-img {
    @include respond-to("lg") {
        margin-bottom: 0;
    }
}