.marquee-box-one {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;

    .marquee-content-one {
        display: flex;
        gap: 40px;
        padding: 0 20px;
        animation: scroll-one 30s linear infinite;

        a {
            color: $drak-color;

            h2 {
                font-size: 50px;
                width: max-content;
                position: relative;
                padding-left: 100px;
                font-weight: 800;
                color: #bbbbbb;
                @include transition;

                @include respond-to("xxl") {
                    font-size: 48px;
                }

                @include respond-to("lg") {
                    font-size: 30px;
                    padding-left: 50px;
                }

                @include respond-to("sm") {
                    font-size: 26px;
                    padding-left: 30px;
                }

                &:before {
                    content: " ";
                    position: absolute;
                    left: 0px;
                    top: -30px;
                    background-color: #757575;
                    font-size: 68px;
                    width: 13px;
                    height: 13px;
                    border-radius: 50px;
                    z-index: 111;
                    top: 46%;
                    left: 30px;

                    @include respond-to("xl") {
                        top: -33px;
                    }

                    @include respond-to("md") {
                        top: -42px;
                    }
                }
            }

            &:hover {
                h2 {
                    color: $theme-colour;
                }
            }
        }
    }
}

@keyframes scroll-one {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-two {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}