 #scroll-percentage {
     position: absolute;
     box-shadow: 0px 0px 20px 0px rgba(184, 184, 184, 0.75);
     height: 60px;
     width: 60px;
     background-color: var(--common-colour);
     border-radius: 50%;
     position: fixed;
     bottom: 30px;
     right: 30px;
     transform: scale(0);
     display: grid;
     place-items: center;
     cursor: pointer;
     visibility: hidden;
     opacity: 0;
     -webkit-transition: all 0.3s;
     transition: all 0.3s;
     z-index: 1011;

     @include respond-to("xxl") {
         width: 50px;
         height: 50px;
     }

     @include respond-to("lg") {
         right: 10px;
     }
 }

 #scroll-percentage.active {
     bottom: 30px;
     transform: scale(1);
     opacity: 1;
     visibility: visible;
     animation: 500ms ease-in-out 0s normal none 1 running scrollToTop;
     transition: 0.3s;

     @include respond-to("xxl") {
         bottom: 20px;
     }
 }

 #scroll-percentage-value {
     height: calc(100% - 6px);
     width: calc(100% - 6px);
     background-color: $white-colour;
     color: $drak-color;
     border-radius: 50%;
     display: grid;
     place-items: center;
     font-size: 14px;
     font-weight: 600;
 }

 #scroll-percentage-value i {
     font-size: 20px;
 }

 @keyframes scrollToTop {
     0% {
         -webkit-transform: translate3d(0, 80%, 0);
         transform: translate3d(0, 80%, 0);
         visibility: visible
     }

     to {
         -webkit-transform: translateZ(0);
         transform: translateZ(0)
     }
 }

 @keyframes wobble-vertical {
     16.65% {
         transform: translateY(8px);
     }

     33.3% {
         transform: translateY(-6px);
     }

     49.95% {
         transform: translateY(4px);
     }

     66.6% {
         transform: translateY(-2px);
     }

     83.25% {
         transform: translateY(1px);
     }

     100% {
         transform: translateY(0);
     }
 }