$flaticon_xyz-font: "flaticon_xyz";

@font-face {
    font-family: $flaticon_xyz-font;
    src: url("./flaticon_xyz.woff2?066f6f5cc727b7b5c492cc9e9a5ebb14") format("woff2"),
url("./flaticon_xyz.woff?066f6f5cc727b7b5c492cc9e9a5ebb14") format("woff"),
url("./flaticon_xyz.eot?066f6f5cc727b7b5c492cc9e9a5ebb14#iefix") format("embedded-opentype"),
url("./flaticon_xyz.ttf?066f6f5cc727b7b5c492cc9e9a5ebb14") format("truetype"),
url("./flaticon_xyz.svg?066f6f5cc727b7b5c492cc9e9a5ebb14#flaticon_xyz") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_xyz !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon_xyz-map: (
    "basket": "\f101",
    "shopping-basket": "\f102",
    "cart": "\f103",
    "cart-1": "\f104",
    "shop-cart": "\f105",
    "search": "\f106",
    "villa": "\f107",
    "buildings": "\f108",
    "villa-1": "\f109",
    "skyline": "\f10a",
    "villa-2": "\f10b",
    "architect": "\f10c",
    "ruler": "\f10d",
    "construction": "\f10e",
    "hook": "\f10f",
    "engineer": "\f110",
    "architecture": "\f111",
    "customer-service": "\f112",
    "next": "\f113",
    "iphone": "\f114",
    "quotation-mark": "\f115",
    "clock": "\f116",
    "chat": "\f117",
    "paper-plane": "\f118",
    "map-location": "\f119",
    "construction-site": "\f11a",
    "engineer-1": "\f11b",
    "heart": "\f11c",
    "mail": "\f11d",
    "mail-inbox-app": "\f11e",
    "rating-stars": "\f11f",
    "lamp": "\f120",
    "staircase": "\f121",
    "house": "\f122",
    "plan": "\f123",
    "interior-design": "\f124",
    "stairs": "\f125",
    "house-design": "\f126",
    "design": "\f127",
    "design-1": "\f128",
    "blueprint": "\f129",
    "blueprint-1": "\f12a",
    "drawing-compass": "\f12b",
    "denver": "\f12c",
    "designing": "\f12d",
    "measure": "\f12e",
    "house-plan": "\f12f",
    "blueprint-2": "\f130",
    "planing": "\f131",
    "building": "\f132",
    "building-1": "\f133",
    "sketch": "\f134",
    "house-1": "\f135",
    "home": "\f136",
    "work-in-progress": "\f137",
    "crane": "\f138",
    "construction-1": "\f139",
    "document": "\f13a",
    "house-2": "\f13b",
    "construction-2": "\f13c",
    "paper": "\f13d",
    "people": "\f13e",
    "architec": "\f13f",
    "engineering": "\f140",
    "engineering-1": "\f141",
    "house-3": "\f142",
    "house-for-sale": "\f143",
    "real-estate": "\f144",
    "real-estate-1": "\f145",
    "skyline-1": "\f146",
    "find": "\f147",
    "real-estate-2": "\f148",
    "blueprint-3": "\f149",
    "location": "\f14a",
    "skyscrapper": "\f14b",
    "service": "\f14c",
    "cloud": "\f14d",
);

.flaticon-basket:before {
    content: map-get($flaticon_xyz-map, "basket");
}
.flaticon-shopping-basket:before {
    content: map-get($flaticon_xyz-map, "shopping-basket");
}
.flaticon-cart:before {
    content: map-get($flaticon_xyz-map, "cart");
}
.flaticon-cart-1:before {
    content: map-get($flaticon_xyz-map, "cart-1");
}
.flaticon-shop-cart:before {
    content: map-get($flaticon_xyz-map, "shop-cart");
}
.flaticon-search:before {
    content: map-get($flaticon_xyz-map, "search");
}
.flaticon-villa:before {
    content: map-get($flaticon_xyz-map, "villa");
}
.flaticon-buildings:before {
    content: map-get($flaticon_xyz-map, "buildings");
}
.flaticon-villa-1:before {
    content: map-get($flaticon_xyz-map, "villa-1");
}
.flaticon-skyline:before {
    content: map-get($flaticon_xyz-map, "skyline");
}
.flaticon-villa-2:before {
    content: map-get($flaticon_xyz-map, "villa-2");
}
.flaticon-architect:before {
    content: map-get($flaticon_xyz-map, "architect");
}
.flaticon-ruler:before {
    content: map-get($flaticon_xyz-map, "ruler");
}
.flaticon-construction:before {
    content: map-get($flaticon_xyz-map, "construction");
}
.flaticon-hook:before {
    content: map-get($flaticon_xyz-map, "hook");
}
.flaticon-engineer:before {
    content: map-get($flaticon_xyz-map, "engineer");
}
.flaticon-architecture:before {
    content: map-get($flaticon_xyz-map, "architecture");
}
.flaticon-customer-service:before {
    content: map-get($flaticon_xyz-map, "customer-service");
}
.flaticon-next:before {
    content: map-get($flaticon_xyz-map, "next");
}
.flaticon-iphone:before {
    content: map-get($flaticon_xyz-map, "iphone");
}
.flaticon-quotation-mark:before {
    content: map-get($flaticon_xyz-map, "quotation-mark");
}
.flaticon-clock:before {
    content: map-get($flaticon_xyz-map, "clock");
}
.flaticon-chat:before {
    content: map-get($flaticon_xyz-map, "chat");
}
.flaticon-paper-plane:before {
    content: map-get($flaticon_xyz-map, "paper-plane");
}
.flaticon-map-location:before {
    content: map-get($flaticon_xyz-map, "map-location");
}
.flaticon-construction-site:before {
    content: map-get($flaticon_xyz-map, "construction-site");
}
.flaticon-engineer-1:before {
    content: map-get($flaticon_xyz-map, "engineer-1");
}
.flaticon-heart:before {
    content: map-get($flaticon_xyz-map, "heart");
}
.flaticon-mail:before {
    content: map-get($flaticon_xyz-map, "mail");
}
.flaticon-mail-inbox-app:before {
    content: map-get($flaticon_xyz-map, "mail-inbox-app");
}
.flaticon-rating-stars:before {
    content: map-get($flaticon_xyz-map, "rating-stars");
}
.flaticon-lamp:before {
    content: map-get($flaticon_xyz-map, "lamp");
}
.flaticon-staircase:before {
    content: map-get($flaticon_xyz-map, "staircase");
}
.flaticon-house:before {
    content: map-get($flaticon_xyz-map, "house");
}
.flaticon-plan:before {
    content: map-get($flaticon_xyz-map, "plan");
}
.flaticon-interior-design:before {
    content: map-get($flaticon_xyz-map, "interior-design");
}
.flaticon-stairs:before {
    content: map-get($flaticon_xyz-map, "stairs");
}
.flaticon-house-design:before {
    content: map-get($flaticon_xyz-map, "house-design");
}
.flaticon-design:before {
    content: map-get($flaticon_xyz-map, "design");
}
.flaticon-design-1:before {
    content: map-get($flaticon_xyz-map, "design-1");
}
.flaticon-blueprint:before {
    content: map-get($flaticon_xyz-map, "blueprint");
}
.flaticon-blueprint-1:before {
    content: map-get($flaticon_xyz-map, "blueprint-1");
}
.flaticon-drawing-compass:before {
    content: map-get($flaticon_xyz-map, "drawing-compass");
}
.flaticon-denver:before {
    content: map-get($flaticon_xyz-map, "denver");
}
.flaticon-designing:before {
    content: map-get($flaticon_xyz-map, "designing");
}
.flaticon-measure:before {
    content: map-get($flaticon_xyz-map, "measure");
}
.flaticon-house-plan:before {
    content: map-get($flaticon_xyz-map, "house-plan");
}
.flaticon-blueprint-2:before {
    content: map-get($flaticon_xyz-map, "blueprint-2");
}
.flaticon-planing:before {
    content: map-get($flaticon_xyz-map, "planing");
}
.flaticon-building:before {
    content: map-get($flaticon_xyz-map, "building");
}
.flaticon-building-1:before {
    content: map-get($flaticon_xyz-map, "building-1");
}
.flaticon-sketch:before {
    content: map-get($flaticon_xyz-map, "sketch");
}
.flaticon-house-1:before {
    content: map-get($flaticon_xyz-map, "house-1");
}
.flaticon-home:before {
    content: map-get($flaticon_xyz-map, "home");
}
.flaticon-work-in-progress:before {
    content: map-get($flaticon_xyz-map, "work-in-progress");
}
.flaticon-crane:before {
    content: map-get($flaticon_xyz-map, "crane");
}
.flaticon-construction-1:before {
    content: map-get($flaticon_xyz-map, "construction-1");
}
.flaticon-document:before {
    content: map-get($flaticon_xyz-map, "document");
}
.flaticon-house-2:before {
    content: map-get($flaticon_xyz-map, "house-2");
}
.flaticon-construction-2:before {
    content: map-get($flaticon_xyz-map, "construction-2");
}
.flaticon-paper:before {
    content: map-get($flaticon_xyz-map, "paper");
}
.flaticon-people:before {
    content: map-get($flaticon_xyz-map, "people");
}
.flaticon-architec:before {
    content: map-get($flaticon_xyz-map, "architec");
}
.flaticon-engineering:before {
    content: map-get($flaticon_xyz-map, "engineering");
}
.flaticon-engineering-1:before {
    content: map-get($flaticon_xyz-map, "engineering-1");
}
.flaticon-house-3:before {
    content: map-get($flaticon_xyz-map, "house-3");
}
.flaticon-house-for-sale:before {
    content: map-get($flaticon_xyz-map, "house-for-sale");
}
.flaticon-real-estate:before {
    content: map-get($flaticon_xyz-map, "real-estate");
}
.flaticon-real-estate-1:before {
    content: map-get($flaticon_xyz-map, "real-estate-1");
}
.flaticon-skyline-1:before {
    content: map-get($flaticon_xyz-map, "skyline-1");
}
.flaticon-find:before {
    content: map-get($flaticon_xyz-map, "find");
}
.flaticon-real-estate-2:before {
    content: map-get($flaticon_xyz-map, "real-estate-2");
}
.flaticon-blueprint-3:before {
    content: map-get($flaticon_xyz-map, "blueprint-3");
}
.flaticon-location:before {
    content: map-get($flaticon_xyz-map, "location");
}
.flaticon-skyscrapper:before {
    content: map-get($flaticon_xyz-map, "skyscrapper");
}
.flaticon-service:before {
    content: map-get($flaticon_xyz-map, "service");
}
.flaticon-cloud:before {
    content: map-get($flaticon_xyz-map, "cloud");
}
