.contact-information {
    .get-in-touch {
        span {
            font-weight: 600;
            color: #000;
        }

        h6 {
            a {
                background-image: linear-gradient(to right, #e1e31d, #e1e31d 50%, #000 50%);
            }
        }

    }

    ul.social-media {
        li {
            a {
                i {
                    color: #000;
                }
            }
        }
    }
}

#contact-form {
    input {
        border: 1px solid #d4d4d4;
        margin-bottom: 20px;
    }

    textarea {
        border: 1px solid #d4d4d4;
        height: 130px;
        margin-bottom: 20px;
    }
}

.content-info {
    border-left: 1px solid #d4d4d4;
    padding-left: 60px;

    @include respond-to("lg") {
        padding-left: 0;
        padding-top: 40px;
        border: 0;
    }

    h5 {
        padding-bottom: 19px;
        font-weight: bold;
        font-size: 20px;
    }
}

.contact-location {
    @include respond-to("lg") {
        padding-bottom: 20px;
    }

    h4 {
        font-size: 30px;
        font-weight: bold;
        padding-bottom: 20px;

        @include respond-to("md") {
            font-size: 22px;
            padding-bottom: 4px;
        }
    }

    p {
        width: 69%;
        padding-bottom: 28px;

        @include respond-to("lg") {
            width: 100%;
        }
    }

    h5 {
        font-size: 18px;
        font-weight: 500;
        color: $medium-drak;

        a {
            margin-left: 10px;
            border-bottom: 1px solid $theme-colour;
            color: $medium-drak;
            @include transition;


            &:hover {
                color: $theme-colour
            }
        }
    }
}

.map {
    iframe {
        width: 100%;
        height: 350px;
        mix-blend-mode: luminosity;

        @include respond-to("lg") {
            height: 300px;
        }

        @include respond-to("md") {
            height: 260px;
        }

        @include respond-to("sm") {
            height: 220px;
        }
    }
}

.get-in-touch>div+div {
    width: 77%;
}