.projects-two {
    .constructio {
        h2 {
            font-size: 40px;
            line-height: 50px;
            color: $drak-color;

            a {
                color: $drak-color;

                &:hover {
                    color: $theme-colour;
                }
            }
        }

        ul li {
            h5 {
                color: $drak-color;
                font-weight: 600;
            }
        }

        span {
            color: $drak-color;
            font-weight: 700;
        }
    }
}