.team-detail {
    .get-in-touch {
        span {
            font-weight: 600;
            color: $drak-color;
            width: 100%;
            font-size: 20px;
        }

        h6 {
            font-size: 20px;

            a {
                background-image: linear-gradient(to right, $theme-colour, $theme-colour 50%, #000 50%);
            }
        }

        >div {
            display: flex;
            align-items: center;
            width: max-content;

            @include respond-to("xxl") {
                width: 60%;
                flex-wrap: wrap;
            }
        }

        h6,
        a {
            width: max-content;
        }

        h6 {
            padding-left: 20px;

            @include respond-to("xxl") {
                padding-left: 0;
            }
        }
    }
}

.meet-experts.team-detail {
    width: 100%;
    background-color: $theme-colour;
    padding: 40px;
    margin-top: 80px;
    margin-bottom: 40px;

    h2 {
        padding-bottom: 0;
    }

    textarea {
        padding-left: 30px;
        margin-bottom: 0px;
        height: 100%;
    }

    .theme-btn {
        margin-top: 18px;
    }
}

.meet-experts .theme-btn {
    /* width: 100%; */
    text-align: center;
    background-color: #fff;
    color: #000;
}

.list-style {
    padding-top: 30px;

    li {
        padding-bottom: 14px;
        padding-left: 27px;
        position: relative;
        font-family: "Epilogue";

        &::before {
            content: "";
            position: absolute;
            background-color: $theme-colour;
            width: 12px;
            height: 12px;
            top: 5px;
            left: 0;
        }
    }
}

.widget-title {
    h3 {
        color: $drak-color;
        margin-bottom: 30px;
        font-size: 26px;

        @include respond-to("xxl") {
            font-size: 24px;
        }

        @include respond-to("xl") {
            font-size: 22px;
        }
    }
}

.team-detail-heading {
    p {
        font-size: 22px;
        padding-bottom: 30px;
        padding-top: 10px;

        @include respond-to("md") {
            font-size: 18px;
        }

        @include respond-to("sm") {
            font-size: 16px;
            line-height: 26px;
        }
    }

    h2 {
        font-weight: bold;
    }
}

.team-detail {
    padding: 40px;
    border: 1px solid #d4d4d4;
    position: relative;

    @include respond-to("lg") {
        margin-bottom: 20px;
        padding: 30px;
    }

    ul.social-media {
        li {
            a {
                i {
                    color: #000;
                }
            }
        }
    }

    img.meet-experts-img {
        position: absolute;
        bottom: 0;
        width: 38%;
        right: 0;

        @include respond-to("sm") {
            display: none;
        }
    }
}

.team-detail-img img {
    @include respond-to("lg") {
        width: 100%;
    }
}

.specialize {
    padding-top: 40px;

    h3 {
        font-size: 40px;
        font-weight: 700;
        padding-bottom: 40px;

        @include respond-to("md") {
            font-size: 34px;
        }

        @include respond-to("sm") {
            font-size: 28px;
        }
    }
}